<div class="footer__list-container">
  
  <span class="footer__heading">
    {{ linklists[list_handle].title | truncate: 30, ''}}
  </span>

  <ul class="footer__list">

  {% for link in linklists[list_handle].links %}
  {% if forloop.index < 7 %}
  
  <li class="footer__list-item">
    <a class="footer__link" href="{{ link.url }}">
      {{ link.title | truncate: 30, ''}}
    </a>
  </li>
  
  {% endif %}
  {% endfor %}

  </ul>
  
</div>