<div class="footer__container">

  <div class="logo-container">
    <a href="/">{{ 'LOGO-espressocup.svg'| asset_url | img_tag : 'espresso-cup logo', 'logo' }}</a>
  </div>  

  {% assign test = 'test.test.test.test.test' | split: '.' %}

  {% for item in linklists.footer.links %}
    {{ item.title }}
    {{ item.links[0].title }}
    
  {% endfor %}

  <!-- {% include 'footer-list' %} -->

</div>


{% schema %}
{
  "name": "footer",
  "tag": "footer",
  "class": "footer"
}
{% endschema %}