<div class="page-template main__section">
  <h1 class="h2-heading-main page__heading">{{ 'general.404.title' | t }}</h1>
  <div class="page__content">
    <p class="regular-text">{{ 'general.404.subtext_html' | t }}</p>
  </div>
</div>
