<div class="page-template main__section">
  <span class="h2-heading-main page__heading">{{ page.title }}</span>
  <div class="page__content">
    <span class="regular-text">
      {{ page.content }}
    </span>
  </div>
</div>